body {
    height: fit-content;
}

.heart {
    position: relative;  
    display: grid;
    place-items: center;  
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0;
}

.color-picker {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0;
}

.heart:hover .color-picker {
    opacity: 1;
}

.blur-heart {
    filter: blur(5px);
}

h1 {
    position: absolute;
    margin: 0%;
    font-size: 80px;
}

@media (max-width: 255px) {
    .color-picker label {
        display: none;
    }
}


@media (max-width: 110px) {
    h1 {
        font-size: 70vw;
    }

    .blur-heart {
        filter: blur(4px);
    }
}
